@import '../../assets/scss/vars';

.languageBurger {
   position: relative;
}

.test {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 0;
   width: 50px;
   height: 90px;
   background-color: red;
}

.chooseLanguage_button {
   position: absolute;
   top: 66px;
   right: -20%;
   // z-index: -;
   display: grid;

   padding: 10px 0;

   // box-shadow: 0 4px 16px 0 rgba($color: $black, $alpha: .05);
   box-shadow: inset 0 30px 20px -20px rgba($color: $black, $alpha: .07), 0 4px 16px 0 rgba($color: $black, $alpha: .05);

   background-color: white;

   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;

}

.languageHeader_button {
   padding: 10px 12px;
   width: 18px;
   box-sizing: content-box;

   line-height: 20px;
   font-size: 12px;
   font-weight: 600;
   font-style: normal;

   border-radius: 12px;
   background-color: white;
   border: 1px solid $gray;
   transition: all .3s ease-in-out;

   &:hover {
      background-color: $black;
      color: white;
   }

}

.languageButton_item {
   padding: 8px 20px;
   line-height: 1.5;
   background-color: transparent;
   border: none;

   font-size: 12px;
   font-weight: 600;
   font-style: normal;

   font-size: 12px;
   transition: all .3s ease-in-out;


   &:hover {
      background-color: $black;
      color: white;
   }
}
