@import '../../assets/scss/vars';

.slider {
   display: block;
   max-width: 560px;
   display: flex;
   position: relative;
   z-index: 0;
}

.icon {
   position: absolute;
   top: 35%;
   border-radius: 100%;
   background-color: white;
   height: 20px;


   svg {
      width: 20px;
      height: 20px;
   }

   &:hover {
      cursor: pointer;
   }

   &--left {
      margin-left: 20px;
      left: 0;
      // padding: 3px 4px 1px 3px;

   }

   &--right {
      margin-right: 20px;
      right: 0;
      // padding: 3px 3px 1px 4px;
   }

   &--hide {
      display: none;
   }
}

.storySlider {
   
   display: flex;
   max-width: 560px;
   height: 100%;
   overflow-x: scroll;
   box-sizing: border-box;

   scroll-behavior: smooth;

   &::-webkit-scrollbar {
      display: none;
   }
   // border-right: 100px solid black;
}

