@import '../../assets/scss/fonts.scss';

.modalNotFound {
   padding: 15% 10%;
   font-family: 'Poppins';
   font-size: 30px;
   font-weight: 600;
   text-align: center;

   img {
      margin-top: 30px;
      width: 200px;
      border: none;
      border-radius: 32px;
   }
}

.modalExplanation {
   color: darkred;
   margin-top: 50px;
}