@import '../../assets/scss/vars';

.signUp_container {
   width: 50%;
}

.signUp {
   padding: 100px 0 0 150px;
   display: grid;
   width: 370px;

   label {
      font-size: 12px;
      font-weight: 500;
      color: $dark_gray;
      line-height: 2;
   }

   input {
      margin-bottom: 30px;
      border: 1px solid $gray;
      padding: 12px 15px;
      border-radius: 12px;

      transition: border .2s ease-in-out;
      &:focus {
         border: 1px solid $blue;
      }
   }
}

.signUp_title {
   font-size: 48px;
   font-weight: 700;
   margin-bottom: 50px;
}

.signUp_button {
   padding: 14px 14px;
   margin: 10px 0;

   color: white;
   background-color: $blue;
   border-radius: 12px;
   border: none;

   font-weight: 500;
   transition: background-color .15s ease-in-out;

   &:hover {
      background-color: darken($color: $blue, $amount: 20);
   }

   &:disabled {
      background-color: $dark_gray;
   }

}

.accountExist {
   text-align: center;

   line-height: 1.6;
   font-size: 12px;
   color: $dark_gray;
   a {
      margin-left: 5px;
      text-decoration: none;
      color: $blue;
   }
}

@media screen and (max-width: $small) {
   .signUp {
      padding: 100px 0 0 50px;

   }
}
@media screen and (max-width: $tablet) {
   .signUp {
      padding: 100px 0 0 0;
      align-self: center;
   }
   .signUp_container {
      width: auto;
   }
}
@media screen and (max-width: 380px) {
   .signUp {
      width: 300px;
      grid-template-columns: 300px;
   }
}
@media screen and (max-width: $phone) {
   .signUp {
      width: 240px;
      grid-template-columns: 240px;

   }
}